# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# stress test
src/pages/stress-test.mdx
src/assets/egs.pdf
src/assets/‎annotation.mov
src/assets/‎annotation-redial.mov
src/assets/illustration.mov
src/assets/illustrations.mov
src/assets/illustration.gif
src/assets/egs.png
src/assets/egs.jpg
